* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1.3;
    font-size: 0.95em;
    font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', 'Segoe UI', 'Malgun Gothic', sans-serif;
}

body > section {
    min-height: 100%;
    float: left;
    padding: 1.5em;
}

section *:first-child {
    margin-top: 0;
}

textarea {
    font-size: 100%;
}

#menu {
    position: fixed;
    width: 25%;
    background: #0B486B;
    color: #EDF2F3;
}

#menu a {
    color: inherit;
}

#menu h1 {
    margin-top: 0.2em;
}

#menu h1 a {
    text-decoration: none;
}

#menu #course_spans {
    width: 100%;
}

#menu span.course {
    cursor: pointer;

    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 80%;
    background: hsl(55, 80%, 50%);
    color: hsl(0, 0%, 20%);
    display: inline-block;
    white-space:nowrap;
}

#menu span.course:hover {
    background: hsl(55, 80%, 70%);
}

#menu #autocomplete_choices {
    background: hsl(0, 0%, 100%);
    padding: 0.25em;
    z-index: 1;
}

#autocomplete_choices li {
    cursor: pointer;

    color: hsl(0, 0%, 20%);
    padding: 0.25em;
    font-size: 80%;
}

#autocomplete_choices li:hover {
    color: hsl(0, 0%, 20%);
    background: hsl(0, 0%, 95%);
}

#menu .search-form {
    margin: 0.5em 0;
}


#menu #searchform input[type=submit]{
    display: none;
}

#menu form {
    margin-bottom: 2em;
}


#autocomplete_choices li.selected {
    color: hsl(0, 0%, 20%);
    background: hsl(0, 0%, 90%);
}

#content {
    width: 75%;
    color: #444;
    margin-left: 25%;
    padding-right: 3em;
}

#content h2 {
    margin-top: 0.4em;
}

#content a {
    color: inherit;
}

.fa-rss-square {
    color: orange;
}

ol, ul {
    padding: 0;
}

li {
    list-style: none;
}

#articles {
    line-height: 1.8;
}

#articles .course {
    width: 25%;
    float: left;
}

#articles .timestamp {
    float: right;

}

#articles .article-entry:hover {
    background: hsl(0, 0%, 95%);
}

#articles .article-entry {
    line-height: 2em;
    height: 2em;
}

#articles .article-entry > span {
    vertical-align: baseline;
}

.article-entry {
    overflow: hidden;
}

.article-entry a {
    text-decoration: none;
}

.article-entry .course {
    color: hsl(0, 0%, 70%);
    font-size: 90%;
    overflow: hidden;
    white-space: nowrap;
}

.article-entry .category {
    background: yellow;
    color: #444;
    font-size: 80%;
    padding: 0.2em 0.4em;
}

.article-entry .headline {
    font-weight: bold;
    margin-right: 0.5em;
}

.article-entry .content {
    margin-right: 1em;
}

.article-entry .user {
    font-size: 90%;
    color: hsl(0, 0%, 70%);
}

.id-check-pass {
    background-color: hsl(140,70%,85%);
}

.id-check-fail {
    background-color: hsl(20,70%,85%);
}

#calendar_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

#calendar_table thead {
    color: #1c2440;
    text-align: right;
}

#calendar th {
    padding: 0 0.5em;
}

#calendar_table td {
    width: 14.28%;
    height: 5em;
    vertical-align: top;
    padding: 0.5em;

    border-top: 1px solid hsl(0,0%,85%);
}

#calendar_table td>p {
    font-size: 80%;
    text-align: right;
    margin: 0;
    padding: 0;
}

#calendar col.weekend {
    background: hsl(0,0%,95%);
}

#calendar td:hover {
    background: hsl(0,0%,90%);
}

.calendar-day .category {
    background: #C7E2F1;
    border-radius: 20px;
    padding: 1px;
}


.calendar-day .article{
    background: #F4F9FF;
    border-radius: 50px;
    border: solid 1px #DDDDDD;
    color: #444;
    font-size: 65%;
    list-style: circle inside none;
    padding-left: 0.5em;
    margin-top: 0.1em;
}

.calendar-day .article>a {
    text-decoration: none;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.upvotes .count {
    font-size: 80%;
    color: #888;
    margin-left: 2px;
}

.timestamp {
    font-size: 80%;
    color: hsl(0,0%,55%);
}

.paginator {
    text-align: center;
}

.paginator li {
    display: inline-block;
}

.paginator .current {
    color: hsl(0,0%,85%);
}
